body {
  background-color: rgb(0, 0, 0);
}
.header{
  background-color: rgb(0, 0, 0);
  display: flex;
  padding-bottom: 20px;
  padding-top: 0px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px white, /* Brilho fraco */
              0 0 10px white, /* Brilho médio */
              0 0 15px white; /* Brilho forte */
}
.logo{
  padding-left: 25px;
}
.logo2{
  padding-right: 25px;

}
img {
  padding-top: 40px;
}
h1{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 45px;
  padding-right: 370px;
  font-family:'Times New Roman', Times, serif;
}
.neon-text {
  font-size: 4em;
  color: rgb(255, 255, 255); /* Cor principal do texto neon */
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  animation: pulse 4s infinite; /* Animação pulsando continuamente */
  font-family: Arial, sans-serif;
  text-shadow: 
    0 0 5px rgb(255, 255, 255),  /* Brilho fraco perto do texto */
    0 0 10px rgb(255, 255, 255), /* Brilho médio */
    0 0 20px rgb(255, 255, 255), /* Brilho forte */
    0 0 40px rgb(255, 255, 255), /* Brilho externo, adicionando outra cor */
    0 0 80px rgb(0, 0, 0), /* Brilho mais difuso */
    0 0 90px rgb(0, 0, 0); /* Brilho final */

}
@keyframes pulse {
  0% {
    transform: scale(1);

  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}